<section class="contact section" id="contacts">
    <div class="container">
        <h2 class="contact__title subtitle">Contact</h2>
        <p class="contact__answer">We will answer any question!</p>
        <form class="contact__form">
            <input type="email" name="user-email" class="contact__input input-email" placeholder="Email"> 
            <input type="text" name="user-feedback" class="contact__input" pattern="^[a-zA-Z]+$" minlength="10" placeholder="We will answer any question!">
            <button class="contact__btn button-reg" type="submit">Send</button>
        </form>
    </div>
</section>