<footer class="footer_main container">
    <ul class="social__list">
        <li class="social__list_item">
            <a class="social__list_link" href="#"></a>
        </li>
        <li class="social__list_item">
            <a class="social__list_link" href="#"></a>
        </li>
        <li class="social__list_item">
            <a class="social__list_link" href="#"></a>
        </li>
    </ul>
<ul class="footer__contacts">
    <li class="contacts">
        <a class="contacts__link link link" href="tel:+19102228855">
            <svg class="contacts__icon_tel">
                <use href="./images/icons.svg#icon-group"></use>
            </svg>
            (910)222-8855</a>
    </li>
    <li class="contacts location">
        <a class="contacts__link link" href="https://goo.gl/maps/qFjWfuMpqV5ePJUdA" target="_blank"
            rel="noreferrer noopener">
            <svg class="contacts__icon_loc">
                <use href="./images/icons.svg#icon-location"></use>
            </svg>
            New York</a>
    </li>
</ul>
</footer>