<header class="header">
    <div class="header__container container">
    <nav class="header__nav">
        <a href="#" class="header__logo_link link2 link">
        <svg class="header__logo_svg">
            <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            </a>
            <ul class="header__list list">
            <li class="header__list_item">
                <a class="header__link link" href="#">About us</a>
            </li>
            <li class="header__list_item">
                <a class="header__link link" href="#">Program</a>
            </li>
            <li class="header__list_item">
                <a class="header__link link" href="#">Reviews</a>
            </li>
            <li class="header__list_item">
                <a class="header__link link" href="#">Contacts</a>
            </li>
            </ul>
    </nav>
    <button type="button" class="header__mob-menu-btn" data-menu-button>
        <svg class="header__mob-menu-icon" width="30" height="16">
            <use href="./images/icons.svg#icon-menu"></use>
        </svg>
    </button>
    <div class="mob-menu" data-menu>
        <div class="mob-menu__container container">
            <button class="mob-menu__close-btn" data-menu-close>
                <svg class="mob-menu__close-btn-icon" width="18" height="18">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <div class="mob-menu__list-container">
                <div class="mob-menu__nav-container">
                    <ul class="mob-menu__nav list">
                        <li><a href="#" class="header__logo_link link">
                                <svg class="header__logo_svg">
                                    <use href="./images/icons.svg#icon-logo"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="mob-menu__item"><a href="#" class="mob-menu__link link current">About us</a>
                        </li>
                        <li class="mob-menu__item"><a href="#" class="mob-menu__link link">Program</a></li>
                        <li class="mob-menu__item"><a href="#" class="mob-menu__link link">Reviews</a></li>
                        <li class="mob-menu__item"><a href="#" class="mob-menu__link link">Contacts</a></li>
                    </ul>
                </div>
                </div>
    </div>
    </div>
    </div>
    <script src="./js/menu.js"></script>
</header>