<section class="section hero__section">
    <div class="container hero__container">
        <h1 class="hero-title">Donut Masterclass
            with the Donut King</h1>
        <p class="hero-title__description">Hosted by Eva Green</p>
        <button type="button" class="button-reg">Register</button>
    </div>

    <ul class="social-list">
        <li class="social-list__item">
            <a href="" class="social-list__link">twitter
            </a>
        </li>
        <li class="social-list__item">
            <a href="" class="social-list__link">insta
            </a>
        </li>
        <li class="social-list__item">
            <a href="" class="social-list__link">facebook
            </a>
        </li>
    </ul>
</section>