<section class="program container">
    <div class="program__content-div">
        <h2 class="program__main-title">Program</h2>
        <p class="program__main-paragraph">Indulge in this immersive sweet treat experience with The Chef Donut Queen
            in her New York donut shop!</p>
        <ul class="program__main-list">
            <li class="program__main-item">A stand up history of donuts</li>
            <li class="program__main-item">Make 3 donut flavors of your choice</li>
            <li class="program__main-item">Enjoy all-you-can-eat donuts</li>
            <li class="program__main-item">Cocktail pairings and coffee included</li>
            <li class="program__main-item">Photoshoot by professional photographer</li>
            <li class="program__main-item">Secret receipt of cooking from Eva</li>
            <li class="program__main-item">All products are included in the price</li>
        </ul>
        <p class="program__main-paragraph-last">
            Come with your dear people and friends
            and you will spend an unforgettable time and
            will become a real professional
            in donuts cooking!
        </p>
        <div>
            <button type="button" class="program__button-more">Read more</button>
        </div>
    </div>
    <div class="program__second-div">
        <ul class="program__second-list">
            <li class="program__second-item">
                <picture>
                    <source srcset="./images/about-program/desktop/type-of-the-event.png 1x, ./images/about-program/desktop/type-of-the-event@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source srcset="./images/about-program/tablet/type-of-the-event.png 1x, ./images/about-program/tablet/type-of-the-event@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="program__img" src="./images/about-program/mobile/type-of-the-event.png" alt="donuts and coffee">
                </picture>
                <h3 class="program__second-title">Type of the event</h3>
                <p class="program__second-paragraph">Cooking classes</p>
                <svg class="program__icon-chef">
                    <use href="./images/icons.svg#icon-chef-hat"></use>
                </svg>
            </li>
            <li class="program__second-item">
                <picture>
                    <source
                        srcset="./images/about-program/desktop/number-of-guests.png 1x, ./images/about-program/desktop/number-of-guests@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./images/about-program/tablet/number-of-guests.png 1x, ./images/about-program/tablet/number-of-guests@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="program__img" src="./images/about-program/mobile/number-of-guests.png" alt="donuts and coffee">
                </picture>
                <h3 class="program__second-title">Number of guests</h3>
                <p class="program__second-paragraph">1 to 20</p>
                <svg class="program__icon-chef">
                    <use href="./images/icons.svg#icon-people"></use>
                </svg>
            </li>
            <li class="program__second-item">
                <picture>
                    <source
                        srcset="./images/about-program/desktop/time-of-the-event.png 1x, ./images/about-program/desktop/time-of-the-event@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./images/about-program/tablet/time-of-the-event.png 1x, ./images/about-program/tablet/time-of-the-event@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="program__img" src="./images/about-program/mobile/time-of-the-event.png" alt="donuts and coffee">
                </picture>
                <h3 class="program__second-title">Time of the event</h3>
                <p class="program__second-paragraph">18:30 (2.5 hours)</p>
                <svg class="program__icon-chef">
                    <use href="./images/icons.svg#icon-clock"></use>
                </svg>
            </li>
            <li class="program__second-item">
                <picture>
                    <source
                        srcset="./images/about-program/desktop/the-host-speaks.png 1x, ./images/about-program/desktop/the-host-speaks@2x.png 2x"
                        media="(min-width: 1200px)">
                    <source
                        srcset="./images/about-program/tablet/the-host-speaks.png 1x, ./images/about-program/tablet/the-host-speaks@2x.png 2x"
                        media="(min-width: 768px)">
                    <img class="program__img" src="./images/about-program/mobile/the-host-speaks.png" alt="donuts and coffee">
                </picture>
                <h3 class="program__second-title">The host speaks</h3>
                <p class="program__second-paragraph">English, French</p>
                <svg class="program__icon-chef">
                    <use href="./images/icons.svg#icon-chat"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>