<section class="registration">
    <div class="container">
        <h2 class="registration__title">Registration</h2>
        <div class="registration__block">
            <div class="registration__left-side">
                <p>May 23, 11:00
                    New York</p>
                <p>$ 699</p>
            </div>
            <div class="registration__right-side">
                <form class="registration__form">
                    <label for="name" class="registration__name">Apply your personal info
                        for registration</label>
                    <input type="text" name="user-name" id="name" class="registration__input" required placeholder="Your name">
                    <input type="tel" name="user-tel" class="registration__input" required placeholder="Phone number">
                    <input type="email" name="user-email" class="registration__input" required placeholder="Email">
                </form>
            </div>
            <button type="submit" class="registration__button">Register</button>
        </div>
    </div>
</section>