
<!DOCTYPE html>
<section class="reviews">
    <div class="reviews__container container">
        <h2>Reviews</h2>
        <ul class="reviews__item">
            <li class="reviews__item card">
                <picture class="picture">
                <source srcset="./-desk.webp 1x, ./images/-desk@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="./-desk.png 1x, ./images/-desk@2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./-tabl.webp 1x, ./images/-tabl@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                <source srcset="./-tabl.png 1x, ./images/-tabl@2x.png 2x" media="(min-width: 768px)">
                <source srcset="./-mob.webp 1x, ./images/-mob@2x.webp 2x" media="(max-width: 767px)" type="image/webp">
                <source srcset="./-mob.png 1x, ./images/-mob@2x.png 2x" media="(max-width: 767px)">
                <img class="img" src="./images/.png" alt="john">
                </picture>
                <ul class="reviews__item list">
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>    
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>
                    </li>
                    <div class="card-item-title-div">
                    <h3 class="card-item-title">John</h3>
                    </div> 
                    
                </ul>
                    </li>
                             
                
            
                    <li class="reviews__item card">
                        <picture class="picture">
                        <source srcset="./-desk.webp 1x, ./images/-desk@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
                        <source srcset="./-desk.png 1x, ./images/-desk@2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./-tabl.webp 1x, ./images/-tabl@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                        <source srcset="./-tabl.png 1x, ./images/-tabl@2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./-mob.webp 1x, ./images/-mob@2x.webp 2x" media="(max-width: 767px)" type="image/webp">
                        <source srcset="./-mob.png 1x, ./images/-mob@2x.png 2x" media="(max-width: 767px)">
                        <img class="img" src="./images/.png" alt="will">
                        </picture>
                        <ul class="reviews__item list">
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>    
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-Star-2"></use>
                                    </svg>
                                    </a>
                            </li>
                            <div class="card-item-title-div">
                            <h3 class="card-item-title">Will</h3>
                            </div> 
                            
                        </ul>
                            </li>
                            <li class="reviews__item card">
                                <picture class="picture">
                                <source srcset="./-desk.webp 1x, ./images/-desk@2x.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                <source srcset="./-desk.png 1x, ./images/-desk@2x.png 2x" media="(min-width: 1280px)">
                                <source srcset="./-tabl.webp 1x, ./images/-tabl@2x.webp 2x" media="(min-width: 768px)" type="image/webp">
                                <source srcset="./-tabl.png 1x, ./images/-tabl@2x.png 2x" media="(min-width: 768px)">
                                <source srcset="./-mob.webp 1x, ./images/-mob@2x.webp 2x" media="(max-width: 767px)" type="image/webp">
                                <source srcset="./-mob.png 1x, ./images/-mob@2x.png 2x" media="(max-width: 767px)">
                                <img class="img" src="./images/.png" alt="Elisabeth">
                                </picture>
                                <ul class="reviews__item list">
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="../images/icons.svg/icons2.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>    
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons2.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <div class="card-item-title-div">
                                    <h3 class="card-item-title">Elisabeth</h3>
                                    </div> 
                                    
                                </ul>
                                    </li>
            
            
        </ul>
        <p>Last time I have visited a cooking course by Eva 
            I was impressed with the way she explained everything
            to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
            Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!</p>
            <ul class="review__pagination">
                <li class="review_pagination item"><a href="" class="rate_item">
                    <svg class="rate_item__icon" width="24" height="24">
                        <use href="./images/icons2.svg#icon-prev"></use>
                    </svg>
                    </a>
                </li>
                <li class="review_pagination item">
                    <p>2/15</p>
                </li>
                <li class="review_pagination item"><a href="" class="rate_item">
                    <svg class="rate_item__icon" width="24" height="24">
                        <use href="./images/icons.svg#"></use>
                    </svg>
                    </a>
                </li>
            </ul>
            </div>
</section>