
<section class="reviews-section">
    <div class="container" id="reviews">
        <h2 class="reviews-title subtitle">Reviews</h2>
        <div class="carousel" id="carousel">
          <div class="reviews__item slide">
              
                <picture class="picture">
                <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                <source srcset="./images/reviews/desktop/reviews-photo-desktop-1.png 1x, ./images/reviews/desktop/reviews-photo-desktop-1@2.png 2x" media="(min-width: 1200px)">
                <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-1.png 1x, ./images/reviews/tablet/reviews-photo-tablet-1x-2.png 2x" media="(min-width: 768px)">
                <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-1.png 1x, ./images/reviews/tablet/reviews-photo-tablet-1x-2.png 2x" media="(max-width: 767px)">
                    <img class="reviews-card-image" src="./images/reviews/tablet/reviews-photo-tablet-1x-1.png" alt="John" width="116"/>
                </picture>
                <ul class="reviews__list list">
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                            </svg>
                            </a>    
                    </li>
                    <li class="reviews__item list rate">
                        <a href="" class="rate_item">
                            <svg class="rate_item__icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-Star-2"></use>
                            </svg>
                            </a>
                    </li>
                </ul>
                
                    <h3 class="card-item-title">John</h3> 
            </div>
            
            <div class="reviews__item slide">
                        <picture class="picture">
                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                            <source srcset="./images/reviews/desktop/reviews-photo-desktop-1x-2.png 1x, ./images/reviews/desktop/reviews-photo-desktop-2x-2.png 2x" media="(min-width: 1200px)">
                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-2.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-2.png 2x" media="(min-width: 768px)">
                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                            <source srcset="./images/reviews/mobile/reviews-photo-mobile-1x.png 1x, ./images/reviews/mobile/reviews-photo-mobile-2x.png 2x" media="(max-width: 767px)">
                            <img class="reviews-card-image" src="./images/reviews/desktop/reviews-photo-desktop-2x-2.png" alt="Will" width="116"> 
                        </picture>
                        <ul class="reviews__list list">
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>    
                            </li>
                            <li class="reviews__item list rate">
                                <a href="" class="rate_item">
                                    <svg class="rate_item__icon" width="24" height="24">
                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                    </svg>
                                    </a>
                            </li>
                        </ul>
                            
                            <h3 class="card-item-title">Will</h3>
                            </div> 
                            
                        
           
             <div class="reviews__item slide">
                                <picture class="picture">
                                    <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                    <source srcset="./images/reviews/desktop/reviews-photo-desktop-1x-3.png 1x, ./images/reviews/desktop/reviews-photo-desktop-2x-3.png 2x" media="(min-width: 1200px)">
                                    <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                    <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-3.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-3.png 2x" media="(min-width: 768px)">
                                    <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                    <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-3.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-3.png 2x" media="(max-width: 767px)">
                     <img class="reviews-card-image" src="./images/reviews/desktop/reviews-photo-desktop-1x-3.png" alt="Elisabeth" width="116"> 
                                </picture>
                                <ul class="reviews__list list">
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>    
                                    </li>
                                    <li class="reviews__item list rate">
                                        <a href="" class="rate_item">
                                            <svg class="rate_item__icon" width="24" height="24">
                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                            </svg>
                                            </a>
                                    </li>
                                     </ul>
                                    
                                    <h3 class="card-item-title">Elisabeth</h3>
                                     </div>    
                                     <div class="reviews__item slide">
              
                                        <picture class="picture">
                                            <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                            <source srcset="./images/reviews/desktop/reviews-photo-desktop-1.png 1x, ./images/reviews/desktop/reviews-photo-desktop-1.png 2x" media="(min-width: 1200px)">
                                            <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-1.png 1x, ./images/reviews/tablet/reviews-photo-tablet-1x-2.png 2x" media="(min-width: 768px)">
                                            <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-1.png 1x, ./images/reviews/tablet/reviews-photo-tablet-1x-2.png 2x" media="(max-width: 767px)">
                                                <img class="reviews-card-image" src="./images/reviews/tablet/reviews-photo-tablet-1x-1.png" alt="John" width="116"/>
                                            </picture>
                                        <ul class="reviews__list list">
                                            <li class="reviews__item list rate">
                                                <a href="" class="rate_item">
                                                    <svg class="rate_item__icon" width="24" height="24">
                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="reviews__item list rate">
                                                <a href="" class="rate_item">
                                                    <svg class="rate_item__icon" width="24" height="24">
                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                    </svg>
                                                    </a>
                                            </li>
                                            <li class="reviews__item list rate">
                                                <a href="" class="rate_item">
                                                    <svg class="rate_item__icon" width="24" height="24">
                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                    </svg>
                                                    </a>
                                            </li>
                                            <li class="reviews__item list rate">
                                                <a href="" class="rate_item">
                                                    <svg class="rate_item__icon" width="24" height="24">
                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                    </svg>
                                                    </a>    
                                            </li>
                                            <li class="reviews__item list rate">
                                                <a href="" class="rate_item">
                                                    <svg class="rate_item__icon" width="24" height="24">
                                                        <use href="./images/icons.svg#icon-Star-2"></use>
                                                    </svg>
                                                    </a>
                                            </li>
                                        </ul>
                                        
                                            <h3 class="card-item-title">John</h3> 
                                    </div>
                                    
                                    <div class="reviews__item slide">
                                        <picture class="picture">
                                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                            <source srcset="./images/reviews/desktop/reviews-photo-desktop-1x-2.png 1x, ./images/reviews/desktop/reviews-photo-desktop-2x-2.png 2x" media="(min-width: 1200px)">
                                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-2.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-2.png 2x" media="(min-width: 768px)">
                                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                            <source srcset="./images/reviews/mobile/reviews-photo-mobile-1x.png 1x, ./images/reviews/mobile/reviews-photo-mobile-2x.png 2x" media="(max-width: 767px)">
                                            <img class="reviews-card-image" src="./images/reviews/desktop/reviews-photo-desktop-2x-2.png" alt="Will" width="116"> 
                                        </picture>
                                                <ul class="reviews__list list">
                                                    <li class="reviews__item list rate">
                                                        <a href="" class="rate_item">
                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="reviews__item list rate">
                                                        <a href="" class="rate_item">
                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                            </svg>
                                                            </a>
                                                    </li>
                                                    <li class="reviews__item list rate">
                                                        <a href="" class="rate_item">
                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                            </svg>
                                                            </a>
                                                    </li>
                                                    <li class="reviews__item list rate">
                                                        <a href="" class="rate_item">
                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                            </svg>
                                                            </a>    
                                                    </li>
                                                    <li class="reviews__item list rate">
                                                        <a href="" class="rate_item">
                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                            </svg>
                                                            </a>
                                                    </li>
                                                </ul>
                                                    
                                                    <h3 class="card-item-title">Will</h3>
                                                    </div> 
                                                    
                                                
                                   
                                     <div class="reviews__item slide">
                                        <picture class="picture">
                                            <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                            <source srcset="./images/reviews/desktop/reviews-photo-desktop-1x-3.png 1x, ./images/reviews/desktop/reviews-photo-desktop-2x-3.png 2x" media="(min-width: 1200px)">
                                            <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-3.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-3.png 2x" media="(min-width: 768px)">
                                            <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-3.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-3.png 2x" media="(max-width: 767px)">
                             <img class="reviews-card-image" src="./images/reviews/desktop/reviews-photo-desktop-1x-3.png" alt="Elisabeth" width="116"> 
                                        </picture>
                                                        <ul class="reviews__list list">
                                                            <li class="reviews__item list rate">
                                                                <a href="" class="rate_item">
                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li class="reviews__item list rate">
                                                                <a href="" class="rate_item">
                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                    </svg>
                                                                    </a>
                                                            </li>
                                                            <li class="reviews__item list rate">
                                                                <a href="" class="rate_item">
                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                    </svg>
                                                                    </a>
                                                            </li>
                                                            <li class="reviews__item list rate">
                                                                <a href="" class="rate_item">
                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                    </svg>
                                                                    </a>    
                                                            </li>
                                                            <li class="reviews__item list rate">
                                                                <a href="" class="rate_item">
                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                    </svg>
                                                                    </a>
                                                            </li>
                                                             </ul>
                                                            
                                                            <h3 class="card-item-title">Elisabeth</h3>
                                                             </div>
                                                             <div class="reviews__item slide">
              
                                                                <picture class="picture">
                                                                <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                                                <source srcset="./images/reviews/desktop/reviews-photo-desktop-1.png 1x, ./images/reviews/desktop/reviews-photo-desktop-1.png 2x" media="(min-width: 1200px)">
                                                                <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                                                <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-1.png 1x, ./images/reviews/tablet/reviews-photo-tablet-1x-2.png 2x" media="(min-width: 768px)">
                                                                <source srcset="./images/reviews/desktop/reviews-photo-1@1.webp 1x, ./images/reviews/desktop/reviews-photo-1@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                                                <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-1.png 1x, ./images/reviews/tablet/reviews-photo-tablet-1x-2.png 2x" media="(max-width: 767px)">
                                                                    <img class="reviews-card-image" src="./images/reviews/tablet/reviews-photo-tablet-1x-1.png" alt="John" width="116"/>
                                                                </picture>
                                                                <ul class="reviews__list list">
                                                                    <li class="reviews__item list rate">
                                                                        <a href="" class="rate_item">
                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                            </svg>
                                                                        </a>
                                                                    </li>
                                                                    <li class="reviews__item list rate">
                                                                        <a href="" class="rate_item">
                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                            </svg>
                                                                            </a>
                                                                    </li>
                                                                    <li class="reviews__item list rate">
                                                                        <a href="" class="rate_item">
                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                            </svg>
                                                                            </a>
                                                                    </li>
                                                                    <li class="reviews__item list rate">
                                                                        <a href="" class="rate_item">
                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                            </svg>
                                                                            </a>    
                                                                    </li>
                                                                    <li class="reviews__item list rate">
                                                                        <a href="" class="rate_item">
                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                <use href="./images/icons.svg#icon-Star-2"></use>
                                                                            </svg>
                                                                            </a>
                                                                    </li>
                                                                </ul>
                                                                
                                                                    <h3 class="card-item-title">John</h3> 
                                                            </div>
                                                            
                                                            <div class="reviews__item slide">
                                                                        <picture class="picture">
                                                                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                                                            <source srcset="./images/reviews/desktop/reviews-photo-desktop-1x-2.png 1x, ./images/reviews/desktop/reviews-photo-desktop-2x-2.png 2x" media="(min-width: 1200px)">
                                                                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                                                            <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-2.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-2.png 2x" media="(min-width: 768px)">
                                                                            <source srcset="./images/reviews/desktop/reviews-photo-2@1.webp 1x, ./images/reviews/desktop/reviews-photo-2@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                                                            <source srcset="./images/reviews/mobile/reviews-photo-mobile-1x.png 1x, ./images/reviews/mobile/reviews-photo-mobile-2x.png 2x" media="(max-width: 767px)">
                                                                            <img class="reviews-card-image" src="./images/reviews/desktop/reviews-photo-desktop-2x-2.png" alt="Will" width="116"> 
                                                                        </picture>
                                                                        <ul class="reviews__list list">
                                                                            <li class="reviews__item list rate">
                                                                                <a href="" class="rate_item">
                                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                    </svg>
                                                                                </a>
                                                                            </li>
                                                                            <li class="reviews__item list rate">
                                                                                <a href="" class="rate_item">
                                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                    </svg>
                                                                                    </a>
                                                                            </li>
                                                                            <li class="reviews__item list rate">
                                                                                <a href="" class="rate_item">
                                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                    </svg>
                                                                                    </a>
                                                                            </li>
                                                                            <li class="reviews__item list rate">
                                                                                <a href="" class="rate_item">
                                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                    </svg>
                                                                                    </a>    
                                                                            </li>
                                                                            <li class="reviews__item list rate">
                                                                                <a href="" class="rate_item">
                                                                                    <svg class="rate_item__icon" width="24" height="24">
                                                                                        <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                    </svg>
                                                                                    </a>
                                                                            </li>
                                                                        </ul>
                                                                            
                                                                            <h3 class="card-item-title">Will</h3>
                                                                            </div> 
                                                                            
                                                                        
                                                           
                                                             <div class="reviews__item slide">
                                                                                <picture class="picture">
                                                                                    <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(min-width: 1280px)" type="image/webp">
                                                                                    <source srcset="./images/reviews/desktop/reviews-photo-desktop-1x-3.png 1x, ./images/reviews/desktop/reviews-photo-desktop-2x-3.png 2x" media="(min-width: 1200px)">
                                                                                    <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(min-width: 768px)" type="image/webp">
                                                                                    <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-3.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-3.png 2x" media="(min-width: 768px)">
                                                                                    <source srcset="./images/reviews/desktop/reviews-photo-3@1.webp 1x, ./images/reviews/desktop/reviews-photo-3@2.webp 2x" media="(max-width: 767px)" type="image/webp">
                                                                                    <source srcset="./images/reviews/tablet/reviews-photo-tablet-1x-3.png 1x, ./images/reviews/tablet/reviews-photo-tablet-2x-3.png 2x" media="(max-width: 767px)">
                                                                     <img class="reviews-card-image" src="./images/reviews/desktop/reviews-photo-desktop-1x-3.png" alt="Elisabeth" width="116"> 
                                                                                </picture>
                                                                                <ul class="reviews__list list">
                                                                                    <li class="reviews__item list rate">
                                                                                        <a href="" class="rate_item">
                                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                            </svg>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="reviews__item list rate">
                                                                                        <a href="" class="rate_item">
                                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                            </svg>
                                                                                            </a>
                                                                                    </li>
                                                                                    <li class="reviews__item list rate">
                                                                                        <a href="" class="rate_item">
                                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                            </svg>
                                                                                            </a>
                                                                                    </li>
                                                                                    <li class="reviews__item list rate">
                                                                                        <a href="" class="rate_item">
                                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                            </svg>
                                                                                            </a>    
                                                                                    </li>
                                                                                    <li class="reviews__item list rate">
                                                                                        <a href="" class="rate_item">
                                                                                            <svg class="rate_item__icon" width="24" height="24">
                                                                                                <use href="./images/icons.svg#icon-Star-1-1"></use>
                                                                                            </svg>
                                                                                            </a>
                                                                                    </li>
                                                                                     </ul>
                                                                                    
                                                                                    <h3 class="card-item-title">Elisabeth</h3>
                                                                                     </div> 
                               
               </div>
               <div class="reviews" data-reviews>
                <p class="reviews__item__text reviews__item__text--active" data-slide="0">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                    to everyone!</p>  
                <p class="reviews__item__text" data-slide="1">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                    to everyone!</p>  
                <p class="reviews__item__text" data-slide="2">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                    to everyone!</p>  
                <p class="reviews__item__text" data-slide="3">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                    to everyone!</p>   
                <p class="reviews__item__text" data-slide="4">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                    to everyone!</p>
                <p class="reviews__item__text" data-slide="5">Last time I have visited a cooking course by Eva
                    I was impressed with the way she explained everything
                    to people. You can be sure you will manage to cook a delicious dish even if it is your first
                    time in the kitchen!<br>
                    Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
                    to everyone!</p>
            </div>
            <div class="reviews__pagination-wrap">
            <p class="reviews-pagination" data-slider-range></p>
        </div>
        </div>
</section>