.button-reg {
  display: block;
  margin: 0 auto;
  padding-left: 47px;
  padding-right: 47px;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 2.1;
  text-align: center;

  border-style: none;
  border-radius: 25px;
}
