.social-list {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 9px;
  }

  &__link {
    color: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__icon-1,
  &__icon-2,
  &__icon-3 {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .social-list {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .social-list__icon-1 {
    width: 24px;
    height: 19px;
    fill: currentColor;
  }

  .social-list__icon-2 {
    width: 19px;
    height: 19px;
    fill: currentColor;
  }

  .social-list__icon-3 {
    width: 10px;
    height: 19px;
    fill: currentColor;
  }
}
