@media screen and (min-width: 320px) {
  .social__list {
    padding-bottom: 34px;
  }
}
@media screen and (min-width: 768px) {
  .social__list {
    padding-bottom: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .social__list {
    padding-bottom: 35px;
  }
}
.footer_main {
  padding-bottom: 20px;
}
.social__list {
  display: flex;
  align-items: center;
  justify-content: center;

  &_item:not(:first-child) {
    margin-left: 12px;
  }
  &_link {
    fill: var(--main-color);
    &:hover,
    &:focus {
      fill: rgba(135, 102, 85, 1);
    }
  }

  &_twitter {
    width: 24px;
    height: 19px;
  }
  &_insta {
    width: 19px;
    height: 19px;
  }
  &_facebook {
    width: 11px;
    height: 19px;
  }
}
.footer__contacts {
  display: flex;
  align-items: center;
}
.contacts__link {
  color: var(--main-color);
}
.contacts__icon_tel {
  width: 13px;
  height: 13px;
}
.contacts__icon_loc {
  width: 11px;
  height: 15px;
}
.location {
  margin-left: auto;
}

.contacts__link:hover,
.contacts__link:focus,
.contacts__icon_loc:hover,
.contacts__icon_loc:focus,
.contacts__icon_tel:hover,
.contacts__icon_tel:focus {
  fill: #876655;
  color: #876655;
}
