@media screen and (max-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__logo_svg {
    width: 95px;
    height: 45px;
  }
  .mob-menu {
    position: relative;
  }
  .header__mob-menu-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    flex-direction: row;
  }
  .mob-menu {
    position: relative;
  }
  .header__mob-menu-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .header__logo_svg {
    width: 95px;
    height: 45px;
  }
}
@media screen and (max-width: 1279px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(254, 243, 228, 1);

    &__mob-menu-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }
    &__mob-menu-icon {
      width: 30px;
      height: 16px;
      fill: rgba(46, 37, 32, 1);
    }
  }

  .header__logo_svg_2 {
    width: 190px;
    height: 85px;
    margin-bottom: 40px;
    margin-top: 25px;
  }
  .link2 {
    display: none;
  }
  .header__list {
    display: none;
  }
  .mob-menu .icon-close {
    display: none;
  }
  .mob-menu.is-open .icon-close {
    display: block;
  }
  .mob-menu.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .logo_head {
    margin-right: 19px;
  }
  .header__logo_svg {
    width: 160px;
    height: 70px;
  }

  .header__list {
    margin-left: 19px;
  }
  .header__mob-menu-btn {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .header__list {
    display: none;
  }
  .header__mob-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-left: auto;
  }
  .header__mob-menu-icon {
    width: 30px;
    height: 16px;
    fill: rgba(46, 37, 32, 1);
  }
  .mob-menu__close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mob-menu__close-btn-icon {
    width: 30px;
    height: 16px;
    fill: rgba(46, 37, 32, 1);
  }
  .header__logo_svg {
    width: 95px;
    height: 45px;
  }
  .mob-menu__item {
    display: none;
  }
  .mob-menu__close-btn {
    display: none;
  }
}
