.registration__subtitle {
  display: block;
  text-align: center;

  margin-bottom: 36px;
}

.registration__text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #2e2520;
}

.registration__name {
  margin-bottom: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #2e2520;
}

.registration__title {
  text-align: center;
  padding-bottom: 35px;
}

.registration__input {
  padding: 2px;
  background-color: #fffff9;
  border-style: none;
  outline: none;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);

  &::placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
}

.registration__input:not(:last-child) {
  margin-bottom: 25px;
}

.registration__input:not(:placeholder-shown):invalid {
  border-color: #f44336;
}

@media screen and (max-width: 767px) {
  .registration {
    padding-top: 30px;
  }

  .registration__rectangle {
    max-width: 290px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px 150px 0px 0px;
  }

  .registration__block {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    height: 100%;
  }

  .registration__form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
    padding-top: 11px;
  }
  .registration__sum {
    padding-bottom: 20px;

    border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  }

  .registration__date {
    margin-bottom: 25px;
  }

  .reg-button__block {
    margin-bottom: 47px;
  }

  .reistration__button {
    margin-left: auto;
    margin-right: auto;
  }

  .registration__title {
    padding-top: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .registration {
    padding-top: 60px;
    padding-bottom: 62px;
    overflow: hidden;
  }

  .registration__block {
    position: relative;
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 21px;
    padding-left: 35px;
    height: 260px;
    background-color: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }

  .registration__rectangle {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4px;
  }

  .registration__title {
    padding-bottom: 24px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .registration__form {
    display: flex;
    flex-direction: row;
  }

  .registration__right-side {
    display: flex;
    flex-direction: row;
  }

  .registration__left-side {
    display: flex;
    flex-direction: column;

    border-right: 1px solid rgba(171, 129, 108, 0.5);
  }

  .registration__date {
    margin-right: 30px;
    margin-top: 19px;
    margin-bottom: 34px;
    max-width: 120px;
    text-align: right;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    color: #2e2520;
  }

  .registration__sum {
    margin-right: 30px;
    text-align: right;
  }

  .registration__form-input {
    display: flex;
    flex-direction: column;
    width: 234px;
    margin-left: 30px;
  }

  .registration__name {
    margin-top: 5px;
    text-align: left;
  }

  .reg-button__block {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 25px;
  }

  .registration__input {
    margin-bottom: 17px;
  }

  .registration__block::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -60px;
    left: -53px;
    width: 235px;
    height: 255px;
    background-image: url(../images/body-images/registration-images/donutreg.png);
    background-repeat: no-repeat;
  }

  .registration__block::after {
    content: '';
    position: absolute;
    bottom: -66px;
    right: -66px;
    z-index: -1;
    width: 280px;
    height: 300px;
    background-image: url(../images/body-images/registration-images/confetti-tablet.png);
    background-repeat: no-repeat;
  }

  .reistration__button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
  .registration__block::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -60px;
    left: -53px;
    width: 235px;
    height: 255px;
    background-image: url(../images/body-images/registration-images/donutreg2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px) {
  .registration__block::after {
    content: '';
    position: absolute;
    bottom: -66px;
    right: -66px;
    z-index: -1;
    width: 280px;
    height: 300px;
    background-image: url(../images/body-images/registration-images/confetti-tablet2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1280px) {
  .registration {
    padding-top: 64px;
  }

  .registration__block {
    position: relative;
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 98px;
    padding-left: 107px;
    background-color: #fffff9;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    border-radius: 150px;
  }

  .registration__block::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -63px;
    left: -133px;
    width: 235px;
    height: 255px;
    background-image: url(../images/body-images/registration-images/donutreg.png);
    background-repeat: no-repeat;
  }

  .registration__block::after {
    content: '';
    position: absolute;
    bottom: -270px;
    right: -225px;
    z-index: -1;
    width: 605px;
    height: 589px;
    background-image: url(../images/body-images/registration-images/confetti-desktop.png);
    background-repeat: no-repeat;
  }

  .registration__rectangle {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4px;
  }

  .registration__title {
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .registration__form {
    display: flex;
    flex-direction: row;
  }

  .registration__right-side {
    display: flex;
    flex-direction: row;
  }

  .registration__left-side {
    display: flex;
    flex-direction: column;

    border-right: 1px solid rgba(171, 129, 108, 0.5);
  }

  .registration__date {
    margin-right: 30px;
    margin-top: 19px;
    margin-bottom: 34px;
    max-width: 130px;
    text-align: right;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    color: #2e2520;
  }

  .registration__sum {
    margin-right: 30px;

    font-size: 20px;
    line-height: 1.2;
    text-align: right;
  }

  .registration__form-input {
    display: flex;
    flex-direction: column;
    width: 234px;
    margin-left: 30px;
  }

  .registration__name {
    margin-top: 19px;

    font-size: 18px;
    line-height: 1.22;
    text-align: left;
  }

  .reg-button__block {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 25px;
  }

  .registration__input {
    margin-bottom: 17px;
  }

  .reistration__button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .registration__block::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -63px;
    left: -133px;
    width: 235px;
    height: 255px;
    background-image: url(../images/body-images/registration-images/donutreg2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .registration__block::after {
    content: '';
    position: absolute;
    bottom: -270px;
    right: -225px;
    z-index: -1;
    width: 605px;
    height: 589px;
    background-image: url(../images/body-images/registration-images/confetti-desktop2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// pattern="[\+]\d{1}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" minlength="18" maxlength="18"

// ^[\+1\]-[0-9]{3}-[0-9]{3}-[0-9]{4}
